*{
   font-family: 'Plus Jakarta Sans', sans-serif;
   box-sizing: border-box;
}

html{
    font-size: 10px
}

body{
    margin: 0;
    letter-spacing: -0.3px;
    font-size: 20px;
    font-weight:400;
    background-color: #121212;
}


/*Header*/

header{
    position: fixed;
    top:0;
    left:266px;
    right: 0;
    z-index: 1;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:transparent;
    height: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

header .go_back_next button{
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    outline: 0;
    opacity: 40%;

    
}

header .go_back{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

header .go_next{
    margin-left: 12px;
}

header .profile_button{
    align-items: left;
    outline: 0;
    border: 0;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    background-color: #0d1112;
    padding: 6px 14px 6px 8px;
    cursor: pointer;
}

header .profile .user_text{
    padding-left: 5px;
    padding-right: 5px;
}

/*Sidebar*/
.sidebar{
    background-color: black;
    position: fixed;
    top:0px;
    bottom: 0px;
    width: 266px;
    padding: 24px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar .logo{
    position: absolute;
    top:0;
    margin-top: 23px;
    width: 131px;
}

.sidebar .menu{
    margin-top: 66px;
}

.sidebar img{
    width: 24px;
    margin-right: 16px;
}

a{
    text-decoration: none;
    color: #b3b3b3;
}

.sidebar .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

.sidebar .install_app{
    position: absolute;
    font-weight: 900;
    bottom:100px;
}

.sidebar .item{
    font-weight: 600;

    height: 40px;

}

.sidebar .item2{
    margin-top: 8px;
    font-weight: 900;
    height: 30px;

    
}

.sidebar .menu2{
    margin-top: 30px;
}

.sidebar .playlist{
    margin-top: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.sidebar a{
    display: flex;
    align-items: center;
}

/*Main*/
main{
    
    left:266px;
    position:absolute;
    height: auto;    
    overflow: auto;
    right: 0px;
}

section{
    display:flex;
    flex-direction: column;
}

section .album{
    background-image: linear-gradient(#729199,#38484c);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-top: 103px;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

section .album #info{
    padding-left: 24px;
}

section .album #image{
    box-shadow: 2px 2px 5px 1px #1b2529;
}

section .album #info #artist{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

section .album #info #artist img{
    width: 24px;
    border-radius: 50%;
    margin-right: 4px;
}

section .album #info #artist #name{
    padding-left: 3px;
    font-weight: 900;
    color: #fff
}

section .album #info #artist #date{
    padding-left: 9px;
    color: #fff
}

section .album #info #artist #nmusic{
    padding-left: 9px;
    color: #fff
}
section .album #info #artist #total_time{
    padding-left: 9px;
    color:#b3b3b3
}

section .album #info #playlist_type{
    font-size: 14px;
    font-weight: 900;
    color: #fff;
}

section .album #info #title{
    font-weight: 900;
    font-size: 48px;
    color: #fff;
}

section .album_buttons{
    background-image: linear-gradient(#2d393c,#121212);
    display:flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

section .album_buttons div+div{
    padding-left: 30px;
}

section .separator {
    padding-left: 32px;
    padding-right: 32px;
}
section .separator .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section .separator .text .left{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 200;
    color:#b3b3b3
}
section .separator .text .left .l1{
    padding-left: 20px;
}
section .separator .text .left .l2{
    padding-left: 15px;
}

section .separator .text .right{
    padding-right: 20px;
}
section .separator .line{
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

section .songs{

    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

section .song{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section .song .left{
    display: flex;
    align-items: center;
}

section .song .left .num{
    color: #b3b3b3;
    font-size: 16px;
    padding-left:16px;
    padding-right:16px ;
}

section .song .left .txt .name{
    font-weight: 500;
    font-size: 16px;
    color:#fcfcfc;
}

section .song .left .txt .band{
    font-weight: 300;
    font-size: 14px;
    color:#b3b3b3;
}

section .song .right{
    padding-right: 20px;
    color:#b3b3b3;
    font-size: 14px;
}
section .copyright{
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    letter-spacing: 0.2px;
    padding-bottom: 114px;
    font-size: 11px;
    color:#b3b3b3
}

section .copyright .date{
    font-size: 14px;
}
/*Footer*/
footer{
    position: fixed;
    background-color: #181818;
    right:0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 90px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

footer img{
    width: 16px;
}

footer button{
    background: transparent;
    border: transparent;
}

footer .playing_song{
    display: flex;
    align-items: center;
}

footer .playing_song .album_pic{
    width: 56px;
}

footer .song_info_bar{
    padding: 12px;
    margin-right: 16px;
}

footer .playing_song .name{
    font-weight: 500;
    font-size: 14px;
    color:#fcfcfc;
}


footer .playing_song .band{
    font-weight: 400;
    font-size: 11px;
    color: #b3b3b3;
}
footer .volume_options{
    display: flex;
    align-items: center;
    
}
footer .volume_bar{
    margin-left: 1px;
    margin-right: 8px;
    height: 1px;
    width: 100px;
    border-top: 2px solid #ffffff;
}

footer .play_bar{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .play_bar #play{
    width: 32px;
}

footer .play_bar #next{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

footer .play_bar .play_buttons .center{
    margin-bottom: 8px;
}

footer .play_bar .progress_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .play_bar .progress_bar .line{
    margin-top: 5px;
    height: 1px;
    width: 409px;
    border-top: 4px solid #5e5e5e;
    margin-left: 5px;
    margin-right: 5px;
    
}

footer .play_bar .progress_bar .text{
    font-size: 11px;
    color: #b3b3b3;
}

