*{
   font-family: 'Plus Jakarta Sans', sans-serif;
   box-sizing: border-box;
}

html{
    font-size: 10px
}

body{
    margin: 0;
    letter-spacing: -0.3px;
    font-size: 20px;
    font-weight:400;
    background-color: #121212;
}

.sidebar{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 249px;
    padding: 24px;
    font-size: 14px;
    font-weight: 400;
}

header{
    position: fixed;
    left:249px;
    right:0;
    background-color:#2d393d;
    width: 100%;
    height: 64px;
}

footer{
    position: absolute;
    background-color: #181818;
    z-index: 1;
    bottom: 0%;
    height: 90px;
    width: 100%;
}

.sidebar .logo{
    position: absolute;
    top:0;
    margin-top: 23px;
    width: 131px;
}

.sidebar .menu{
    margin-top: 66px;
}

.sidebar img{
    width: 24px;
    margin-right: 16px;
}

a{
    text-decoration: none;
    color: #b3b3b3;
}

.sidebar .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

.sidebar .install_app{
    position: absolute;
    font-weight: 900;
    bottom:100px;
}

.sidebar .item{
    font-weight: 600;

    height: 40px;

}

.sidebar .item2{
    margin-top: 8px;
    font-weight: 900;
    height: 30px;

    
}

.sidebar .menu2{
    margin-top: 30px;
}

.sidebar .playlist{
    margin-top: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.sidebar a{
    display: flex;
    align-items: center;
}

