*{
   font-family: 'Plus Jakarta Sans', sans-serif;
   box-sizing: border-box;
}

html{
    font-size: 10px
}

body{
    margin: 0;
    letter-spacing: -0.3px;
    font-size: 20px;
    font-weight:400;
    background-color: #121212;
}


/*Header*/

header{
    position: fixed;
    left:13%;
    right:0;
    display:flex;
    justify-content:space-between;
    align-items: center;
    /*tirar cor?*/
    background-color:#2d393d;
    width: 87%;
    height: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

header .go_back_next button{
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    outline: 0;
    opacity: 40%;

    
}

header .go_back{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

header .go_next{
    margin-left: 12px;
}

header .profile_button{
    align-items: left;
    outline: 0;
    border: 0;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    background-color: #0d1112;
    padding: 6px 14px 6px 8px;
    cursor: pointer;
}

header .profile .user_text{
    padding-left: 5px;
    padding-right: 5px;
}


/*Footer*/
footer{
    position: absolute;
    background-color: #181818;
    z-index: 1;
    bottom: 0%;
    height: 90px;
    width: 100%;
}


/*Sidebar, tá todo comida para tamanhos diferentes :')*/

.sidebar{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 13%;
    padding: 24px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar .logo{
    position: absolute;
    top:0;
    margin-top: 23px;
    width: 131px;
}

.sidebar .menu{
    margin-top: 66px;
}

.sidebar img{
    width: 24px;
    margin-right: 16px;
}

a{
    text-decoration: none;
    color: #b3b3b3;
}

.sidebar .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

.sidebar .install_app{
    position: absolute;
    font-weight: 900;
    bottom:100px;
}

.sidebar .item{
    font-weight: 600;

    height: 40px;

}

.sidebar .item2{
    margin-top: 8px;
    font-weight: 900;
    height: 30px;

    
}

.sidebar .menu2{
    margin-top: 30px;
}

.sidebar .playlist{
    margin-top: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.sidebar a{
    display: flex;
    align-items: center;
}

